---
layout: nuggets
title: Promise nuggets
isTOC: true
---

- var nuggets = getFilesAtPath("articles").toJSON();
- nuggets = nuggets.sort(function(p1, p2) {
-       return p1.basename.localeCompare(p2.basename);
-       //return l;
-   }).filter(function(p){
-       return !p.hidden && p.category;
-   }).reduce(function(acc, p) {
-				//console.log(p.basename);
-       if (!acc[p.category]) acc[p.category] = [p];
-       else acc[p.category].push(p);
-       return acc;
-   }, {})

each items, category in nuggets
  .category 
    .name
      h2= category
    ol.items
      each post in items
        li.post 
          a(href=post.url)=post.title

