pre {
  padding: 0.8rem;
  margin: 1rem 0.05rem;
  background-color: #f9f5f1;
  box-shadow: 1px 1px 5px #dcb;
  font-family: Monaco, "Liberation Mono", Courier, monospace;
  font-size: 15px;
  line-height: 1.5;
  overflow: auto;
}
p code {
  color: #333;
  padding: 0.05rem 0.1rem;
  font-family: Monaco, "Liberation Mono", Courier, monospace;
  font-size: 16px;
}
p code .pln {
  color: #333;
}
.category .items {
  padding-left: 2rem;
}
h1 {
  position: relative;
}
h1 a.back {
  position: absolute;
  left: -1.2em;
  top: 0.07em;
  color: #aaa;
  border-bottom: none;
}
h1 a.back:hover {
  color: #37c;
}
